{
  "env": {
    "node": true,
    "jest": true
  },
  "root": true,
  "extends": ["airbnb-base", "prettier", "plugin:jest/recommended"],
  "plugins": ["jest", "prettier"],
  "rules": {
    "prettier/prettier": "error"
  }
}